{% extends 'account/main.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<style>
    @media (min-width: 576px) { 
        .lebel_div{
            width: 100%;
        }
        .input_div{
            width: 100%;
        }
     }
     @media (min-width: 768px) { 
        .lebel_div{
            width: 20%;
        }
        .input_div{
            width: 70%;
        }
     }
    
</style>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="card-title">PI Details</div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="myCheck" onclick="editModeFunction();" style="height: 22px;width: 38px;">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Click for edit mode</label>
                </div>
            </div>
            <div class="card-body">
                <form action="POST" id="id_piform" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="row p-3">
                    <input type="hidden" value="{{pi_id}}" id="pi_id">
                    <!-- <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class=" my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Choose Title:</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                <select id="nameTitle" name="name_title" class="form-control">
                                                <option value="Mr.">Mr.</option>
                                                <option value="Miss.">Miss.</option>
                                                <option value="Mrs.">Mrs.</option>
                                                <option value="Dr">Dr.</option>
                                                <option value="Prof">Prof</option>
                                            </select>
                                <span id="nameTitle-error" class="error-message"></span>
                            </div>
                        </div>
                    </div> -->
                    
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">   
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Name</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.name class="form-control" %}
                                <span id="id_pi_name-error" class="error-message"></span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Date of Birth</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.dob class="form-control" %}
                                <span id="id_pi_dob-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <!-- <hr id="lg_hr" class="text-danger"> -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Gender</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.gender class="form-control" %}
                                <span id="id_pi_gender-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>  
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Qualification</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.qualification class="form-control" %}
                                <span id="id_pi_qualification-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2" id="div_id_qualification_other">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Qualification Other</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.qualification_other class="form-control" %}
                                <span id="id_pi_qualification-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">  
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Designation</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.designation class="form-control" %}
                                <span id="id_pi_designation-error" class="error-message"></span>
                            </div>
                        </div>
                    </div> 
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Area expertise</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.area_expertise class="form-control" %}
                                <span id="area_expertise-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">  
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Institute</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.institute class="form-control" %}
                                 <span id="id_pi_institute-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Contact No</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.contactno class="form-control" maxlength="10" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" %}
                                <span id="id_pi_contactno-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">Email Id</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.emailid class="form-control" %}
                                <span id="id_pi_emailid-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2" id="id_div_prccomment">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">State</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.state_pi class="form-control" %}
                                <span id="state_pi-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mt-2" id="id_div_startdate">
                        <div class="my-2 d-md-flex flex-md-nowrap justify-content-around">
                            <div class="mt-3 lebel_div">
                                <label for="floatingInput">District</label>
                            </div>
                            <div class="form-floating-custom input_div">
                                {% render_field form.district_pi class="form-control" %}
                                
                                <span id="district_pi-error" class="error-message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2 px-2">
                        <input type="submit" class="btn btn-warning" id="update_btn" value="Update">
                    </div>
                </div>
                
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script> 

<script>
    
    $(document).ready(function(){
       
       $('#id_state_pi').css('pointer-events','none');
       $('#id_district_pi').css('pointer-events','none');

       $('#nameTitle').css('pointer-events','none');
       $('#id_name').css('pointer-events','none');
       $('#id_dob').css('pointer-events','none');
       $('#id_gender').css('pointer-events','none');
       $('#id_qualification').css('pointer-events','none');
       $('#id_qualification_other').css('pointer-events','none');
       $('#id_designation').css('pointer-events','none');
       $('#id_area_expertise').css('pointer-events','none');
       $('#id_institute').css('pointer-events','none');
       $('#id_contactno').css('pointer-events','none');
       $('#id_emailid').css('pointer-events','none');
       $('#update_btn').hide()
       $("#id_dob").datepicker({ dateFormat: 'yy-mm-dd',changeMonth: true,changeYear: true,yearRange: "1900:2030"});
    })
    
</script>
<script>
    function editModeFunction(){
        
        var checkBox = document.getElementById("myCheck");
        
        if (checkBox.checked == true){
            $('#nameTitle').css('pointer-events','');
            $('#id_name').css('pointer-events','');
            $('#id_dob').css('pointer-events','');
            $('#id_gender').css('pointer-events','');
            $('#id_qualification').css('pointer-events','');
            $('#id_qualification_other').css('pointer-events','');
            $('#id_designation').css('pointer-events','');
            $('#id_area_expertise').css('pointer-events','');
            $('#id_institute').css('pointer-events','');
            $('#id_contactno').css('pointer-events','');
            $('#id_emailid').css('pointer-events','');
            $('#update_btn').show()
        } else {
            $('#nameTitle').css('pointer-events','none');
            $('#id_name').css('pointer-events','none');
            $('#id_dob').css('pointer-events','none');
            $('#id_gender').css('pointer-events','none');
            $('#id_qualification').css('pointer-events','none');
            $('#id_qualification_other').css('pointer-events','none');
            $('#id_designation').css('pointer-events','none');
            $('#id_area_expertise').css('pointer-events','none');
            $('#id_institute').css('pointer-events','none');
            $('#id_contactno').css('pointer-events','none');
            $('#id_emailid').css('pointer-events','none');
            $('#update_btn').hide()
        }
    }
</script>
<script>
	$(document).ready(function(){
		$('#id_qualification').on('change', function(){
			var qualification_other_val = $(this).val();
			if(qualification_other_val == 'Other'){
				$("#div_id_qualification_other").show();
			}
			else
			{
				$("#div_id_qualification_other").hide();
			}
		});
        $("#div_id_qualification_other").hide();
	});
</script>
<script>
$(function() {
        $("#id_area_expertise").autocomplete({
            
            source: "{% url 'autocomplete_area_experties' %}", // Replace with your Django URL name
            minLength: 2, // Minimum characters to trigger autocomplete
            delay: 300,   // Delay in milliseconds before sending request
        });

        $("#id_designation").autocomplete({
            source: "{% url 'autocomplete_designation' %}", // Replace with your Django URL name
            minLength: 2, // Minimum characters to trigger autocomplete
            delay: 300,   // Delay in milliseconds before sending request
        });

        

        $('#id_title').keyup(function() {
            $(this).val(toTitleCase($(this).val()));
        });

        function toTitleCase(str) {
            return str.toLocaleLowerCase().replace(/\b\w/g, function(char) {
                return char.toUpperCase();
            });
        }


        $('#id_area_expertise').keyup(function() {
            $(this).val(capitalize($(this).val()));
        });

        function capitalize(s)
        {
            return s.charAt(0).toUpperCase() + s.slice(1);
        }
            });
</script>
<script>
    $(document).ready(function(){

        function isValidEmail(email) {
    
            var regex = /^([a-zA-Z0-9_.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
        }

        function isValidMobileNumber(mobileNumber) {
            var mobileNumberPattern = /^[0-9]{10}$/; 
            return mobileNumberPattern.test(mobileNumber);
        }

    function validatePIForm() {
        // debugger
        let isValid = true;
        var name = $('#id_name').val()
        var dob = $('#id_dob').val()
        var gender = $('#id_gender').val()
        var qualification = $('#id_qualification').val()
        var designation = $('#id_designation').val()
        var institute = $('#id_institute').val()
        var contactno = $('#id_contactno').val()
        var emailid = $('#id_emailid').val()
        var state = $('#state_id').val()
        var district = $('#district_id').val()
        var address = $('#id_address').val()

        if (name === "") {
            $('#id_pi_name-error').text("Please enter PI name.")
            $('#id_pi_name-error').css("color","red")
            isValid = false;
        }
        if (dob === "") {
            $('#id_pi_dob-error').text("Please enter PI Date of birth.")
            $('#id_pi_dob-error').css("color","red")
            isValid = false;
        }
        if (gender === "") {
            $('#id_pi_gender-error').text("Please select gender of PI.")
            $('#id_pi_gender-error').css("color","red")
            isValid = false;
        }
        if (qualification === "") {
            $('#id_pi_qualification-error').text("Please select gender of PI.")
            $('#id_pi_qualification-error').css("color","red")
            isValid = false;
        }
        if (designation === "") {
            $('#id_pi_designation-error').text("Please select gender of PI.")
            $('#id_pi_designation-error').css("color","red")
            isValid = false;
        }
        if (institute === "") {
            $('#id_pi_institute-error').text("Please select institute name..")
            $('#id_pi_institute-error').css("color","red")
            isValid = false;
        }
        if (contactno === "") {
            $('#id_pi_contactno-error').text("Please enter PI contact number.")
            $('#id_pi_contactno-error').css("color","red")
            isValid = false;
        }
        if (contactno !== "") {
            if(!isValidMobileNumber(contactno)){
                $('#id_pi_contactno-error').text("Please enter complete PI contact number.")
                $('#id_pi_contactno-error').css("color","red")
                isValid = false;
            }
            
        }
        if (emailid === "") {
            $('#id_pi_emailid-error').text("Please enter emailid.")
            $('#id_pi_emailid-error').css("color","red")
            isValid = false;
        }
        if (emailid != "") {
            if (!isValidEmail(emailid)){
                $('#id_pi_emailid-error').text("Please enter complete emailid.")
                $('#id_pi_emailid-error').css("color","red")
                isValid = false;
            }
        }
        if (state === "") {
            $('#id_pi_state-error').text("Please select state.")
            $('#id_pi_state-error').css("color","red")
            isValid = false;
        }
        if (district === "") {
            $('#id_pi_district-error').text("Please select district.")
            $('#id_pi_district-error').css("color","red")
            isValid = false;
        }
        
        return isValid
    }    

    $('#id_piform').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData(this); // Create FormData object from the form
        // var state = $('#state_id').val()
        // var district = $('#district_id').val()
        var id = $('#pi_id').val()
        let base_url = "{% url 'pi_detail_view' 0 %}";  // dummy ID to get URL structure
        // Replace 0 with actual ID
        let url = base_url.replace('0', id);
        // console.log('formData',formData)
        // var baseUrl = (window.location).href;
        // var url = baseUrl.substring(baseUrl.lastIndexOf('=') + 1);
            // console.log('getid',url)
        var valid = validatePIForm()
        if (valid){
            
            $('#id_pi_name-error').css("display","none");
            $('#id_pi_dob-error').css("display","none");
            $('#id_pi_gender-error').css("display","none");
            $('#id_pi_qualification-error').css("display","none");
            $('#id_pi_designation-error').css("display","none");
            $('#id_pi_institute-error').css("display","none");
            $('#id_pi_contactno-error').css("display","none");
            $('#id_pi_emailid-error').css("display","none");
            $('#id_pi_state-error').css("display","none");
            $('#id_pi_district-error').css("display","none");
            
            
           $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false, 
                contentType: false, 
                success: function(response) {
                    console.log(response.message)
                    if(response.status === '200 OK'){
                            swal(response.message,{
                            buttons: {
                                confirm: {
                                className: "btn btn-success",
                                },
                            },
                        });
                        
                    }else{
                            if(response.status === '403'){
                                swal(response.message,{
                                buttons: {
                                    confirm: {
                                    className: "btn btn-danger",
                                    },
                                },
                            });
                        }
                    }
                },
                error: function(xhr, status, error) {
                    $('#status').text('Error: ' + error);
                    console.log(error)
                }
            });
            }else{console.log('Validation is failed.')}
    
    });
});
</script>
{% endblock%}