{% extends 'account/main.html' %}
{% load static %}

{% load widget_tweaks %}
{% block content %}

<style>
    #basic-datatables td{
        padding: 10px 8px !important;
    }
    .banner {
    background-color: #0047AB; /* A shade of blue */
    color: #fff !important;
    padding: 15px 25px;
    position: relative;
    /* Creates the diagonal cut */
    clip-path: polygon(0 0, 20% 0, 100% 700%, 0% 100%);
}
.card-title{
    color: #fff !important;
}
.card .card-header{
        border-bottom: 2px solid #198754 !important;
    }

.table>thead>tr{
    /* border:2px solid green !important; */
    
}
thead{
    background: #446cda !important;
}
table.dataTable {
    border-collapse: collapse !important;
    
}
.table thead th {
background-color: #7b8fe6 !important;
color: #fff !important;
padding:12px 12px !important;
}

</style>
<!-- <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Budget Details</div>
            </div>
            <div class="card-body ">
                <h1>Project view </h1>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="banner">
                    <h4 class="card-title py-0">PI and Project Details</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="basic-datatables_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="basic-datatables" class="display table table-striped table-hover  text-center display compact"
                                    role="grid" aria-describedby="basic-datatables_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Salary: activate to sort column ascending"
                                                style="width:8%;">Project ID</th>
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Salary: activate to sort column ascending"
                                                style="width:9%;">e-Office No.</th>
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Name: activate to sort column ascending"
                                                style="width:7%;">File Number</th>
                                            
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Position: activate to sort column ascending"
                                                style="width:20%;">Project Title</th>
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Office: activate to sort column ascending"
                                                style="width:10%;">PI Name</th>
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Age: activate to sort column ascending"
                                                style="width:20%;">PI Institute</th>
                                            <th class="sorting_asc" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Start date: activate to sort column descending"
                                                style="width: 7%;" aria-sort="ascending">PI State</th>
                                            
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                aria-label="Salary: activate to sort column ascending"
                                                style="width: 5%;">PI View</th>
                                            <th class="sorting" tabindex="0" aria-controls="basic-datatables"
                                                rowspan="1" colspan="1"
                                                style="width: 5%;">Fund View</th>
                                        </tr>
                                    </thead>
                                   
                                    <tbody>
                                        {% for project in projects %}
                                        <tr role="row" class="odd">
                                            <td class=""><a href="{% url 'project_detail_view' project.projectid %}"> {{project.project_id}}</a></td>
                                            <td class="">{{project.project_eofficnumber}}</td>
                                            <td class="">{{project.project_filenumber}}</td>
                                            <td class="">{{project.project_title|truncatechars:50}}</td>
                                            <td class="">{{project.pi_name}}</td>
                                            <td class="sorting_1">{{project.pi_institute|truncatechars:70}}</td>
                                            <td>{{project.pi_state}}</td>
                                            <td>
                                                <div class="text-center">
                                                    <a href="{% url 'pi_detail_view' project.piid %}" class="btn btn-warning text-black p-7 btn-sm"><i class="far fa-eye"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-center">
                                                    <a href="{% url 'fund_details' %}?pi_id={{project.piid}}&project_id={{project.projectid}}" class="btn btn-success text-white p-7 btn-sm"><i class="fas fa-rupee-sign"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.4/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $("#basic-datatables").DataTable({});

        $("#multi-filter-select").DataTable({
            pageLength: 5,
            initComplete: function () {
                this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var select = $(
                            '<select class="form-select"><option value=""></option></select>'
                        )
                            .appendTo($(column.footer()).empty())
                            .on("change", function () {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());

                                column
                                    .search(val ? "^" + val + "$" : "", true, false)
                                    .draw();
                            });

                        column
                            .data()
                            .unique()
                            .sort()
                            .each(function (d, j) {
                                select.append(
                                    '<option value="' + d + '">' + d + "</option>"
                                );
                            });
                    });
            },
        });

        
    });
</script>

{% endblock %}